test/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="183a3eb6-1280-420e-9b11-af9a9d6cc029" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="5c632cde-96bf-4636-be12-a75cd67da736" >
		<http:listener doc:name="Listener" doc:id="3c6a5eed-660e-4253-aee9-7a00f4bd7ee5" config-ref="HTTP_Listener_config" path="Test"/>
		<http:request method="GET" doc:name="Request" doc:id="b4df4f0d-72ca-4431-8ae0-7617018f5d3a" url="http://www.dneonline.com/calculator.asmx?wsdl">
			<http:query-params ><![CDATA[#[output application/java
---
{
	addition : "5"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="13824383-28c8-41e7-b2a5-be6956db09bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
